<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.babob.sporcantam">
    <!-- Normal Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_angellist_brands"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ViewItemActivity"></activity>
        <activity android:name=".activity.ShoppingCartActivity" />
        <activity android:name=".activity.UpdateCustomerInfoActivity" />
        <activity android:name=".activity.CustomerMainPageActivity" />
        <activity android:name=".activity.updateSellerInfoActivity" />
        <activity android:name=".activity.SellerItemListActivity" />
        <activity android:name=".activity.MainPageActivity" />
        <activity android:name=".activity.ItemView_UpdateActivity" />
        <activity android:name=".activity.ShowItemActivity" />
        <activity android:name=".activity.ItemCreateActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignUpActivity" />
    </application>

</manifest>